/*HEADER*/



.nacolor {
color:#222831;
}

.bgcolor {
  background-color: #eeeeee;
}

.conex{
position: absolute;
top: 30px; /* Ajustez la valeur selon votre besoin pour définir la distance depuis le haut */
right: 55px;
align-items: center;
}

nav {
  font-family: 'Kanit', sans-serif;
}

.tailhead {
  font-size: 17px;
}


/*Footer*/



.respfootertrue {

display: none;
}

.bg_footer {
  background-color: #222831;
}

footer p {
  color:#eeeeee;
  font-family: 'Raleway', sans-serif,;
  font-size: 15px;
}

.logofooter {

display:flex;
align-items: center;
margin-top: 0;
margin-bottom: auto;
margin-left: 0;
margin-right: auto;
}

footer h5,li {
  color:#eeeeee;
  font-family: 'raleway bold', sans-serif;
  font-size: 20px;
}



.contenuf {

margin-top: 60px;
margin-bottom: 30px;
}


.basfooter {
  margin-bottom: 10px;
}

.border-top{
  border-color:#ffb900;
  background-color: #222831;
}

.boutonenv {
  margin : 3px
}

.ma-liste {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 300px; /* Ajustez la largeur maximale selon vos besoins */
  margin: 0 auto; /* Pour centrer la liste */
  list-style: none;
  padding: 0;
}

.ma-liste-item {
  width: 200px;
  margin-bottom: 10px; /* Espace entre les lignes */
  padding: 10px;
  box-sizing: border-box;
}

.imgtaille{
  width: 10%;
}



/*INDEX*/

.textcoachs {
  font-size: 15px;
  color: #222831;
  align-items: center;
  font-family: raleway;
}


.text-hive{

  padding-top: auto;
  padding-bottom: auto;
  margin-top : 8rem;
  margin-bottom:auto;
  margin-left:auto;
  margin-right: auto;
}

.text-hive2{

  padding-bottom: 30px;
}
.text-hive-bouton{

  padding-right: 50px;
  padding-left: auto;
  margin-left: 30px;
}


#video-background {
  position:static;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  z-index: -1000;
  
}

#video-content {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: #ffb900;
  text-align: center;
}

.borim {
  display: block;
}

.blanc {
  background-color: #eeeeee; /* Fond blanc pour la page */
}

.section-container {
  margin: 0px 0; /* Espacement autour de la section */
}

.section-image {
  max-width: 100%; /* Image prend toute la largeur disponible */
  height: auto;
}

.section-text {
  padding-left: 20px; /* Espacement à gauche du texte */
}

.TitreSection {

margin-top: 70px;
margin-bottom: 40px;
}

.TitreSection2{

  margin-top: 70px;

  margin: 25px;
  }
  .TitreSection3{

    margin-top: 40px;
    margin-bottom: 40px;
    font-family: Kanit;
    }

  .fontheader {
    font-family: kanit;
  }

.section {
  display: flex;
  align-items: stretch;
  height: 100%; /* 100% de la hauteur de la fenêtre */
}

.image-half {
  flex: 1; /* Occupe la moitié de la largeur disponible */
  background: url('chemin/vers/votre-image.jpg') center/cover no-repeat; /* Remplacez par votre image */
}

.text-half {
  display: flex;
  flex-direction: column;
  
  align-items: center;
  flex: 1; /* Occupe la moitié de la largeur disponible */
  padding: 20px; /* Ajoutez une marge intérieure pour l'espace entre le texte et les bords */
  box-sizing: border-box; /* Inclut la marge intérieure dans la largeur */
}

div button.customy{
  display: block;
  float: right;
  
}

.container-fluid{
  --bs-gutter-x: 0rem;
}

.positiontext {
  display: flex;
  align-content: center;
}



/*carte heaxagonal ChatGPT*/



.inner-shape {
  position: relative;
  top: 85%; /* Ajustez la position verticale de la forme interne */
  left: 0%; /* Ajustez la position horizontale de la forme interne */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); /* Forme intérieure */
  background-color: #ffb900; /* Couleur de fond de la forme intérieure */
  width: 422px; /* Ajustez la largeur de la forme intérieure */
  height: 100%; /* Ajustez la hauteur de la forme intérieure */
  z-index: -1; /* Placez la forme intérieure en arrière-plan par rapport au texte */
} 

.hexagon-card {
  margin: 15px;
  background-color: #222831;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  width: 100%; /* Utiliser une unité relative */
  max-width: 26.375rem; /* Ajouter une largeur maximale si nécessaire */
  height: 22.875rem; /* Utiliser une unité relative */
  max-height: 22.875rem;
}

.col-md-4 {
  flex: 1; /* Ajuster la flexibilité pour l'alignement des cartes */
}

.hexagon-card .card-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;}

.ali{
  display: flex;
  justify-content: center;
}


.alignitem1 {
  align-items: end;
}

.fondjaune {
  background:#ffb900;
  color: white;
  margin: 0;
  flex-basis: 100%;
  text-align: center;
  padding: 15px;
}


  /*bouton*/



  .custom-button-sh {
    background-color: #ffb900; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte du bouton */
    padding: 10px 20px; /* Espacement intérieur du bouton */
    border: none; /* Supprimer la bordure par défaut du bouton Bootstrap */
    cursor: pointer;
    clip-path: polygon(100% 0, 100% 70%, 85% 100%, 0 100%, 0 30%, 15% 0); /* Modifier cette valeur selon la forme souhaitée */
    border-radius: 0;
  }

  .custom-button-sh:hover {

    background-color: #eeeeee;
    color: #222831;
  }

  .custom-button-kh {
    background-color: #ffb900; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte du bouton */
    padding: 10px 20px; /* Espacement intérieur du bouton */
    border: none; /* Supprimer la bordure par défaut du bouton Bootstrap */
    cursor: pointer;
    clip-path: polygon(100% 0, 100% 70%, 85% 100%, 0 100%, 0 30%, 15% 0); /* Modifier cette valeur selon la forme souhaitée */
    border-radius: 0;
  }

  .custom-button-kh:hover {

    background-color: #222831;
    color: #eeeeee;
  }


  .custom-button-vh {
    background-color: #ffb900; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte du bouton */
    padding: 10px 20px; /* Espacement intérieur du bouton */
    border: none; /* Supprimer la bordure par défaut du bouton Bootstrap */
    cursor: pointer;
    clip-path: polygon(100% 0, 100% 70%, 85% 100%, 0 100%, 0 30%, 15% 0); /* Modifier cette valeur selon la forme souhaitée */
    border-radius: 0;
  }

  .custom-button-vh:hover {

    background-color: #222831;
   
  }

  .custom-button-noir {
    background-color: #222831; /* Couleur de fond du bouton */
    color: #eeeeee; /* Couleur du texte du bouton */
    padding: 10px 20px; /* Espacement intérieur du bouton */
    border: none; /* Supprimer la bordure par défaut du bouton Bootstrap */
    cursor: pointer;
    clip-path: polygon(100% 0, 100% 70%, 85% 100%, 0 100%, 0 30%, 15% 0); /* Modifier cette valeur selon la forme souhaitée */
    border-radius: 0;
    width: 70%;
  }

  .custom-button-noir.active {
    background-color: #eeeeee; /* Couleur de fond du bouton */
    color: #222831; /* Couleur du texte du bouton */
    padding: 10px 20px; /* Espacement intérieur du bouton */
    border: none; /* Supprimer la bordure par défaut du bouton Bootstrap */
    cursor: pointer;
    clip-path: polygon(100% 0, 100% 70%, 85% 100%, 0 100%, 0 30%, 15% 0); /* Modifier cette valeur selon la forme souhaitée */
    border-radius: 0;
  }

  .custom-button-noir:hover {

    background-color: #eeeeee;
    color: #222831;
   
  }

  .custom-button-b {
    background-color: #127681; /* Couleur de fond du bouton */
    color: #eeeeee; /* Couleur du texte du bouton */
    padding: 5px 10px; /* Espacement intérieur du bouton */
    border: none; /* Supprimer la bordure par défaut du bouton Bootstrap */
    cursor: pointer;
    clip-path: polygon(100% 0, 100% 70%, 85% 100%, 0 100%, 0 30%, 15% 0); /* Modifier cette valeur selon la forme souhaitée */
    border-radius: 0;
    font-size: small;
  }

  .custom-button-b:hover {

    background-color: #127681;
    color: #eeeeee;
    padding: 7px 14px;
    font-size: medium;
  }

  .card-button-b {
    text-align: center;
    margin-top: auto; /* Place le bouton en bas de la carte */
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
}

.card-button-plus {
  text-align: center;
  margin-top: auto; /* Place le bouton en bas de la carte */
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}



/*Carouselle*/



.coach-card {
  margin: 0;
  clip-path: polygon(100% 0%, 100% 85%, 80% 100%, 0 100%, 0 15%, 20% 0);
  width: 100%px;
  margin-bottom: 10px;
}

.coach-card .card-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  }
.card{
  border: 0;
}

.form-card-img {

  clip-path: polygon(100% 0%, 100% 85%, 80% 100%, 0 100%, 0 15%, 20% 0);
}



/*---*/



.testi {

 display: flex;
 align-items: center;
 justify-content: center;
 min-height: 100vh;
 
}

.container-carou {

  max-width: 1200px;
  width: 95%;
}

.slider-wrapper {
  position: relative;
}

.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  height: 50px;
  width: 58px;
  color: #FFB900;
  border: none;
  outline: none;
  background-color: #222831;
  font-size: 2.2rem;
  cursor: pointer;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  z-index: 1
  
}

.slider-wrapper .slide-button#prev-slide{

  left: -20px;

}

.slider-wrapper .slide-button#next-slide{

  right: -20px;
}

.slider-wrapper .slide-button:hover{

  background-color: #FFB900;
  color: #222831;
}

.slider-wrapper .image-list{
  display: grid;
  gap: 18px;
  font-size: 0;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;  
  grid-template-columns: repeat(10, 1fr);
}

.slider-wrapper .image-list::-webkit-scrollbar{

  display: none;

}

.slider-wrapper .image-list .image-item {
width: 325px;
height: 400px;
object-fit: cover;

}

.container-carou .slider-scrollbar {

  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-scrollbar .scrollbar-track {

  height: 2px;
  width: 100%;
  background-color: #222831;
  position: relative;
  border-radius: 4px;

}

.slider-scrollbar:hover .scrollbar-track {
height: 4px;


}

.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  height: 100%;
  width: 50%;
  background-color: #FFB900;
  border-radius: inherit;
  cursor: grab;
}

.slider-scrollbar .scrollbar-thumb:active{

  cursor: grabbing;
  height: 8px;
  top: -2px;

}

.slider-scrollbar .scrollbar-thumb::after{

  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;

}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.taillecoachs {
  height: 10px;
  font-size: medium;
}

/*

Formulaire contacte

*/


input[type=text], select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: raleway;
}

input[type=submit]{
  width: 20%;
  background-color: #FFB900;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  clip-path: polygon(100% 0, 100% 70%, 85% 100%, 0 100%, 0 30%, 15% 0);
}

input[type=submit]:hover {
  background-color: #222831;
}

.divconta {
  border-radius: 5px;
  background-color: #eeeeee;
  padding-top: 30px;
  padding-bottom: 30px;
  
}

.test{
  padding-top:5px;
  padding-bottom : 5px;
  padding-left :0px;
  
}

.texth1 {font-family : kanit medium; 
font-size : 40px; 
text-align: center;}
b{ color : #FFB900 } ; 



.container{
  padding-bottom: 30px;
}

.margincontacte {

  margin-top: 70px;
}

.minimalw {

  min-width: 400px;
  max-width: 800px;
}


/*Connexion 1*/



.menujaune {

  background-color: #FFB900;
}

.interliste {

  padding-top:20px;
  padding-left: 100px;
  padding-right: 100px;
}

.profilliste{

padding-top: 40px;
padding-bottom: 30px;

}

.findeliste {

  padding-bottom: 40px;
}

.fondnoir{

  background-color: #222831;
  padding-top: 35px;
  padding-bottom: 35px;
}

.paddinginfo {

  padding-top: 30px;
}

.hexagon-card-2 {
  margin: 0;
  background-color: #222831;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  width: 211px;
  height: 183px;
  margin-bottom: 30px;
  color: #eeeeee;
}

.inner-shape-2 {
  position: relative;
  top: 20%; /* Ajustez la position verticale de la forme interne */
  left: 0%; /* Ajustez la position horizontale de la forme interne */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); /* Forme intérieure */
  background-color: #ffb900; /* Couleur de fond de la forme intérieure */
  width: 100%; /* Ajustez la largeur de la forme intérieure */
  height: 30%; /* Ajustez la hauteur de la forme intérieure */
  z-index: -1; /* Placez la forme intérieure en arrière-plan par rapport au texte */
  align-items: center;
} 

.text-hexa{

  padding-top: 40px;
  padding-bottom: 20px;
}

.container-abo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered-abo {
  text-align: center;
}

.color-list b{
  color:#222831
}

.fondtrans{

  padding-top: 35px;
  padding-bottom: 35px;
}

.coursblanc {
  color:#eeeeee
}

.coursnoir {
  color:#222831
}



/*connexion 2*/



.cours-card {
  margin: 0;
  clip-path: polygon(100% 0%, 100% 85%, 80% 100%, 0 100%, 0 15%, 20% 0);
  width: 8rem;
  height: 8rem;
  margin-bottom: 10px;
  background-color:#eeeeee;
}

.cours-card-2 {
  margin: 0;
  clip-path: polygon(100% 0%, 100% 85%, 80% 100%, 0 100%, 0 15%, 20% 0);
  width: 8rem;
  height: 8rem;
  margin-bottom: 10px;
  background-color:#222831;
}

.boutonplus {

    margin: 0;
    background-color: #eeeeee;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    width: 46px;
    height: 40px;
    padding: auto;

}

.boutonplus2 {

  margin: 0;
  background-color: #127681;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  width: 46px;
  height: 40px;
  padding: auto;

}

.plus{

  width: 100%;
  height: 100%;
}


/* connexion 3*/



/*condition générale */


.marge1 h1{ font-family : Kanit; 
  font-size : 50px;
margin-bottom: 20px;
}
  
  .styleh2 {font-family : Raleway ; 
  font-size : 20px; 
  color: #FFB900; 
  }
  
  .marge1 p {font-family: Raleway ;
  font-size : 15px; }

  .marge1 {

    padding-top: 20px ;
    padding-bottom: 30px;
  }

  .marge1 b {
    font-family : Raleway ; 
    font-size : 15px; 
    color: #FFB900; 
  }
 .marge1 h2 {
  font-family : Raleway ; 
  font-size : 20px; 
  color: #FFB900; 
  }

  .marge1 h3 {font-family: Raleway italic; 
    font-size : 15px ; 
    }

    .marge1 p, li,ul {
      font-family: Raleway ;
      font-size : 15px;
    }

    .marge1 li {
      color: black;
    }


    /*a propos*/


    .backgrounpropos {

      padding-top :50px;
      padding-bottom: 50px;
      background-color: #222831;
      color: #eeeeee;
      margin-top: 40px;
      margin-bottom: 40px;
    }

   .h1propos {
    margin-top: 30px;
    font-family: Kanit;
    margin-bottom: 20px;
    }
    
  .propos b{font-family: Raleway;
    color: #FFB900;}
    
    .propos p{font-family: raleway;
    font-size: medium;}
    
    .propos div{height:30px ;}
    
    .propos head{background-color: #222831;}
    

    
    .imgpropos
    {
    margin-right: 15px;
    }
    
    .proposvideo{margin-right: 15px;
    margin-bottom: 30px;}
    
 
      
      .propos .test{
        padding-top:5px;
        padding-bottom : 5px;
        padding-left :0px;
      }
      
      .h2propos {font-family : kanit light; 
      font-size : 40px; 
    margin: 15px;
    }
    
      .propos  b{color : #FFB900  ; 
        text-align: center;}
    
    

/*body*/


  body{
    overflow-x: hidden;
  }



/*abbonements*/

.hexagon-card-abonnements {
  margin: 15px;
  background-color: #222831;
  clip-path: polygon(0 10%, 50% 0, 100% 10%, 100% 90%, 50% 100%, 0 90%);
  width: 100%; /* Utiliser une unité relative */
  max-width: 23.875rem; /* Ajouter une largeur maximale si nécessaire */
  height: 43.75rem; /* Utiliser une unité relative */
  max-height: 43.75rem;
  color: #eeeeee;
}


.inner-shape-abo {
  position: relative;
  top: 85%; /* Ajustez la position verticale de la forme interne */
  left: 0%; /* Ajustez la position horizontale de la forme interne */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); /* Forme intérieure */
  background-color: #ffb900; /* Couleur de fond de la forme intérieure */
  max-width: 23.875rem; /* Ajustez la largeur de la forme intérieure */
  height: 100%; /* Ajustez la hauteur de la forme intérieure */
  z-index: -1; /* Placez la forme intérieure en arrière-plan par rapport au texte */
} 


.padabo{
  padding: 0;
}

.positionabo{

    position: absolute;
    top: 20%;
    left: 10%;
  
}

.margabophoto {

  margin: 7px
}

.margetextabo {
  margin-top: 50px;
}



/*Conexion*/


.sechexa {
  margin: 15px;
  border-color: #FFB900;
  border-width: 30px;
  background-color: #fff;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  width: 100%; /* Utiliser une unité relative */
  max-width: 37rem; /* Ajouter une largeur maximale si nécessaire */
  height: 32.042rem; /* Utiliser une unité relative */
  max-height: 32.042rem;
  padding: 10px;

}

.fondcon {
  background-color: #222831;
}

.padco{
  padding-left: 22rem ;
  padding-right: 22rem;
  background-color: #fff;
  border-left: #ffb900;
  border-right: #ffb900;
  border-width: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
}




/*formule hive */

.margehive {
  margin-left: 3rem;
  padding-right: 9rem;
}
.margehivetitre{
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.margeboutonhive{

margin: 2rem;
}

.workinprogress{

  width: auto;
  height: 60rem;
}


/*404*/


.grostexte{
  font-size: 200px;
}

.mar404 {
  margin-bottom: 100px;
  margin-top: 100px;
}


/*mediaQuery*/


@media screen and (max-width: 991px){
  .conex {
    position: absolute;
    top: 250px; /* Ajustez la valeur selon votre besoin pour définir la distance depuis le haut */
    right: 55px;
  }
  .respfootertrue {
    display: block;
    margin: auto;
  }
  .respfooterfals{
    display: none;
  }
  .logofooter {

    display:flex;
    align-items: center;
    margin: auto;
    }

  .slider-wrapper .slide-button {
    display: none!important;

  }

  .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
  }

  .slider-wrapper .image-list .image-item {
    width: 280px;
    height: 380px;

  }

  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }

  .section-image{
    display: none;
  }

  .text-hive{

    padding-top: auto;
    padding-bottom: auto;
    margin-top : 4rem;
    margin-bottom:4rem;
    margin-left:auto;
    margin-right: auto;
  }

  .hexagon-card {
    margin: auto;
    background-color: #222831;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    width: 422px;
    height: 366px;
    margin-bottom: 30px;
  }

  div.card.hexagon-card{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}
 
   